body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.hidden {
    display: none !important;
}

.navbar {
    padding: 20px;
    background-color: #212325d1;
    color: #fff;
    border-bottom: 1px solid rgba(0, 255, 255, 0.561);
    position: sticky;
    top: 0;

    .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        gap: 20px;

        a:hover {
            color: aqua;
        }
    }

    .main-logo {
        font-size: 24px;
    }

    .main-logo:hover {
        color: aqua;
    }
}

.profile {
    padding: 30px 0;
    .backProfile,
    .editProfile {
        padding: 10px 20px;
        background-color: rgb(227, 218, 207);
        display: inline-block;
        margin: 15px 0;
    }

    .editProfile {
        background-color: rgba(19, 19, 18, 0.864);
        color: #fff;
    }

    .mainInfoCard {
        color: #fff;
        width: 100%;
        height: 550px;
        background-color: #20bcff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin: 0 0 20px;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
        }
        h2 {
            font-size: 42px;
        }

        h4 {
            font-size: 24px;
            font-weight: 400;
        }
        ul {
            display: flex;
            gap: 15px;

            li {
                font-size: 32px;
            }
        }
    }

    .devAbility {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        background-color: rgb (47, 47, 47);
        border: 1px solid #5b5a5a44;

        h5 {
            font-size: 24px;
            color: #20bcff;
        }

        p {
            font-size: 16px;
        }

        ul {
            display: flex;
            gap: 35px;

            li {
                font-size: 18px;
                position: relative;
            }

            li:before {
                content: url(/images/icons/check-solid-black.svg);
                position: absolute;
                left: -17px;
                bottom: -3px;
            }
        }
    }
    .devBio {
        border-bottom: 1px solid #0000009f;
    }

    .exp-edu {
        margin: 20px 0;
        display: flex;
        gap: 15px;

        .bold {
            font-weight: 600;
        }

        .devExp,
        .devEdu {
            display: flex;
            gap: 15px;
            width: 100%;
            flex-direction: column;
            background-color: #eeebeb22;
            border: 1px solid #908e8e;
        }

        .devStatus {
            max-width: 100%;
            height: auto;
            padding: 30px;
            border-bottom: 1px solid rgb(125, 121, 121);
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                span:first-child {
                    font-weight: 600;
                }
            }

            h2 {
                font-size: 24px;
                color: #20bcff;
                margin-bottom: 10px;
            }
        }

        .devStatus:last-child {
            border-bottom: none;
        }
    }

    .githubRepos {
        h2 {
            font-size: 24px;
            color: #20bcff;
            margin: 20px 0 10px;
            display: inline-block;
        }

        .repoCard {
            width: 100%;
            height: auto;
            border: 1px solid rgb(125, 121, 121);
            padding: 30px;
            display: flex;
            justify-content: space-between;
            a {
                font-size: 20px;
                color: #14aced;
            }
        }

        .repoStatus {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
                padding: 5px 10px;
                color: #fff;
            }

            span:first-child {
                background-color: #20bcff;
            }

            span:nth-child(2) {
                background-color: #2c3032;
            }

            span:last-child {
                background-color: #d8e5eb;
                color: #000;
            }
        }
    }
}

.singUp,
.singIn,
.developers,
.dashboard,
.createProfile,
.addExperience,
.posts {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    .say-somthing {
        padding: 15px 10px;
        background-color: #14aced;
        display: block;
        margin-top: 20px;
        font-size: 18px;
        color: #fff;
    }

    h2 {
        font-size: 52px;
        color: rgb(34, 164, 164);
        margin: 40px 0 0;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        margin: 20px 0 0;
    }

    span {
        font-size: 13px;
        display: block;
        margin: 5px 0;
        color: #747171;
    }

    input,
    select,
    textarea {
        width: 100%;
        height: 40px;
        font-size: 18px;
        padding: 8px;
        margin-top: 20px;
        border: 1px solid #aca9a9d4;
        border-radius: 0;
    }

    textarea {
        height: 80px;
    }

    label {
        margin-top: 20px;
        display: inline-block;
        font-size: 20px;
    }

    input[type="date"] {
        margin: 0;
    }

    .currentJob {
        max-width: 1000px;
        display: flex;
        align-items: center;
        margin: 25px 0 5px;

        input {
            width: 15px;
            height: 15px;
            margin: 0;
            padding: 0;
            display: block;
        }

        label {
            width: auto;
            margin: 0 0 0 5px;
            padding: 0;
            font-weight: 400;
        }
    }

    .postBody {
        width: 100%;
        padding: 20px;
        border: 1px solid #868585a2;
        display: flex;
        align-items: end;
        gap: 30px;

        button {
            margin: 0;
        }

        button:last-child {
            background-color: red;
        }

        .img-name {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }

            p {
                font-size: 20px;
                color: #14aced;
            }
        }

        .post-like {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 200px;
            max-height: 200px;
            overflow: hidden;

            h4 {
                margin-bottom: 10px;
            }
        }

        .likelike {
            i {
                padding: 10px 20px;
                margin-right: 5px;
                background-color: #b5b5b5;
            }
        }
    }

    button,
    .button,
    .addSocial {
        margin: 2px;
        padding: 10px 20px;
        background-color: rgb(0, 147, 147);
        font-size: 14px;
        color: #fff;
        margin: 20px 0;

        &:hover {
            background-color: rgba(0, 147, 147, 0.876);
        }
    }

    .button,
    .addSocial {
        display: inline-block;
        margin-top: 20px;
    }

    .addSocial {
        background-color: #908e8e5d;
        color: #000;
        margin-right: 10px;
        cursor: pointer;
    }

    pre {
        display: inline-block;
        font-family: sans-serif;
        font-size: 16px;
    }

    .profile-status {
        margin-top: 15px;
    }

    .editAdd-status {
        padding: 12px 20px;
        background-color: rgba(115, 129, 129, 0.105);
        font-size: 18px;
        color: #000;
        margin: 20px 4px;
        display: inline-block;

        .fa-regular,
        .fa-solid {
            color: rgb(34, 164, 164);
            margin-right: 5px;
        }
    }

    .currentProfile {
        h3 {
            font-size: 32px;
            font-weight: 400;
            margin-top: 20px;
        }
    }

    .experienceCredentials,
    .educationCredentials {
        th,
        td {
            padding: 15px 25px;
            margin: 10px 4px 0;
            display: inline-block;
            height: 50px;
            width: 150px;
            text-align: center;
        }

        td:last-child {
            background-color: red;
            width: 80px;
            padding: 16px 18px;
            color: #fff;
            cursor: pointer;
        }

        th:last-child {
            width: 80px;
        }

        th {
            margin-top: 25px;
            background-color: rgba(115, 129, 129, 0.105);
        }
        td:nth-child(3),
        th:nth-child(3) {
            width: 230px;
        }
    }

    .deleteAccount {
        color: white;
        font-size: 20px;
        padding: 10px 12px;
        background-color: red;
        margin: 40px 0;
        display: inline-block;
        cursor: pointer;

        .fa-solid {
            margin-right: 5px;
        }
    }

    .socials {
        display: flex;
        align-items: center;

        i {
            width: 50px;
        }

        input {
            padding: 23px 10px;
            margin: 10px 0;
        }
    }

    a {
        color: rgb(0, 147, 147);
    }

    p {
        color: #3f3e3e;
    }

    .developer-info {
        width: 100%;
        height: 250px;
        background-color: rgb(235, 250, 247);
        border: 1px solid #aca9a9d4;
        margin: 15px 0 0;

        display: flex;
        justify-content: space-around;
        padding: 10px 0;

        align-items: center;

        img {
            width: 230px;
            height: 230px;
            border-radius: 50%;
            object-fit: cover;
        }

        .current-info {
            width: 350px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name {
                font-size: 24px;
                font-weight: 600;
                color: #000;
            }

            .address {
                padding: 10px 0 0;
            }

            button {
                width: 120px;
            }
        }

        .skills {
            width: 250px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                li {
                    font-size: 16px;
                    color: rgba(0, 147, 147, 0.827);
                    position: relative;
                }

                li::before {
                    content: url(/images/icons/check-solid.svg);
                    position: absolute;
                    left: -20px;
                    bottom: -2px;
                }
            }
        }
    }
}
